/*reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial,sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.login-container {
  background-color: whitesmok;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0,0,0,0.1;
  text-align: center;
  border: 2px solid wheat;
  width: 400px;
  height: auto;
}

.login-container h2 {
margin-bottom: 1.5rem;
font-size: 1.5rem;
color: black;
}

.login-container input {
display: block;
width: 100%;
padding: 10px;
margin: 1px;
border: 1px solid;
border-radius: 5px;
font-size: 14px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-size: 16px;
  cursor: pointer;

}

