
body {
  margin: 5px;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: hotpink;
  color: grey;
  text-align: center;
}

#title h1 {
  text-align: center;
  color: rgb(55, 8, 38);
  margin-top: 20px;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

p span {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #3174e7;
  margin: 15px 0;
  ;
}

.todo-container{
  background-color: lightpink;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0,0,0,0.1;
  text-align: left;
}
.action {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: lightpink;
  border-radius: 6px;
  box-shadow: 0,0,0,0.5;
}

.action label {
  font-size: 20px;
  flex: 1;
  margin-left: 8px;

}
.action input[type="checkbox"]{
  transform:scale(1.2);
}
.action button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: rgb(3, 201, 201);
  cursor: pointer;
  border-radius: 4px;
  color: white;
  border: none;
  margin-right: 10px;
}

.action button:hover{
  background-color: rgb(23, 207, 145);
  color: black;
}
.button {
  text-align: center;
  margin-top: 20px;
}

.button button {
  background-color: rgb(255, 0, 102);
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px;
  transition: background 0.3s;
}

.button button:hover {
  background: rgb(219, 60, 161);
}

#resetBtn {
  background: rgb(78, 157, 231);
}

#resetBtn:hover {
  background: rgb(40, 76, 177);
}

#addSection {
  margin-top: 20px;
  text-align: center;
}

#newActionInput {
  padding: 8px 12px;
  border: 2px solid lightpink;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

#newActionInput:focus {
  border-color: hotpink;
}

#addActionBtn {
  padding: 8px 12px;
  background-color: pink;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}

#addActionBtn:hover {
  background-color: rgb(196, 84, 140);
  color: black;
}